name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -yq nasm ninja-build

    - name: Configure CMake
      run: cmake -GNinja -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build
